---
title: Madrid for the Total Solar Eclipse (Day 6 to 10)
description: The thrilling conclusion
slug: madrid-2026-pt-2
date: '2026-9-13'
category: Travel
---
# {title}
*{description}*

### Day 6 - Thursday, August 13

Without a clear plan for Thursday, Greta, Danny, and I defaulted to a bird outing.
We made our way to Retiro Park, a large urban park reminiscent of Central Park.
We observed a few interesting species, including the Great Tit, which I was looking forward to seeing on this trip!

![image]($lib/assets/post-images/greattit.jpg "A great tit sitting in the trees.")

*Great Tit*

---

Later in the day, we made our way back to Mesón del Champiñon to re-up on the most magical mushrooms.
Full of mushrooms, the aforementioned trio made our way to the Madrid Metro store, located in a few Metro stations around the city.
I only bought a corduroy hat, but was nearly ensared by the Metro kicks. 

![image]($lib/assets/post-images/metrosneakers.jpg "A picture of sneakers themed like the Madrid Metro sitting on a shelf.")

*Madrid Metro sneakers*

![image]($lib/assets/post-images/palacehats.jpg "Danny, Greta, and me in front of the Madrid royal palace, with Danny and me wearing matching Madrid Metro hats.")

*Two guys with matching public transit merch, and Greta, in front of the Royal Palace of Madrid*

---

Our dinner came highly recommended by a friend of Murari as the best Spanish food in Madrid.
Casa Macareno did not disappoint. 
We were treated to a variety of perfectly-prepared pieces and our palettes were pleased.
None of the pictures do our meal justice, so you will just have to take my word for it and use your imagination (or Google Maps).

---


### Day 7 - Friday, August 14

Our final weekday in Madrid would be our most prosperous day of birding of the trip.
Greta and I got the day started bright and early at a cafe.
The little coffee shop -- Sole Mio -- served us an excellent breakfast with some of the better espresso we had abroad.
Its minute interior provided us just enough room to write postcards to our families while the owner made our food, drinks, and friendly conversation.

![image]($lib/assets/post-images/solemio.jpeg "A distored view of me looking at our breakfast at Sole Mio.")

*About to enjoy food and writing*


![image]($lib/assets/post-images/postcards.jpeg "An adorable photo of me and Greta with our postcards.")

*Greta and me with our postcards, with my binoculars foreshadowing our birding bananza*

---

Adequately caffeinated, we headed for Casa de Campo, the former royal hunting grounds.
The vast expanse lies on the western portion of the city, providing an escape from the stone and concrete of the city center.
We met Daniel after beginning our bird walk around a man-made lake, but not before we spotted a familiar style of boat and some invasive fauna.

![image]($lib/assets/post-images/boatcasadecampo.jpg "A racing shell with two people rowing sweep on a lake.")

*A rare pair*

![image]($lib/assets/post-images/kittiescasadecampo.jpg "A pair of cats at Casa de Campo lounging in a wooded area.")

*A hairy pair*

---

Our trio made our way onto one of many paths around Casa de Campo in search of birds native to the area.
The European Bee-Eater was of particular interest to me due to its striking colors, having already located my primary target -- Hoopoe -- days earlier.
As we made our way down the trail, we added lifers left and right (being new to birding and Spain).
We had another encounter with the Great Tit, but were also acquainted with four other tits -- Coal, Crested, Long-Tailed, Eurasian Blue.
I regret not pursuing my photography interest sooner, for lack of great pictures, but the birds were delightful to watch through the binoculars. 

Birding with two other novice birders made identifying certain birds a challenge.
We struggled at times to determine if a bird was a female this or a male that, or maybe a juvenile this-other-thing.
With that in mind, it was always a welcome surprise when a pair of sexually dimorphic birds present themselves in tandem.
I was peering through the binoculars and thought I had spotted another lifer -- the European Greenfinch -- which prompted further binocularization and Merlin consultation.
As we were attempting to identify a bird probably 100 yards away, one of us spotted a second bird on a nearby branch.
The two were unmistakably male and female Greenfinch, allowing us to confidently mark these as spotted.

![image]($lib/assets/post-images/dannygretabinos.jpg "A picture of Daniel taking a cell phone photo through his binoculars, which rest on top of Greta's head.")

*Birding is a team sport*

---

As we meandered through the grounds, we continued to note the birds foreign to us (which was all of them except House Sparrows and Rock Pigeons).
The novelty often prompted observation of birds which we had seen dozens of times, including the Common Wood-Pigeon.
The Wood-Pigeon is a charming specimen with a distinctive white patch around the back and sides of its neck.
While observing said bird, one of us spots another which we do not immediately recognize.
Quickly, however, our group realizes this is one of our targets in the European Bee-Eater!
The one we first spotted was perched on a branch outcropping the top of a tree, near a few Wood-Pigeons.
Soon thereafter we spot a half dozen more in the same tree, posing beautifully for our observation.

![image]($lib/assets/post-images/dannybeeeater.jpeg "A picture of a European Bee-Eater perched on a branch.")

*Danny's bee-eater shot*

![image]($lib/assets/post-images/colinbeeeaternear.jpg "Another picture of a European Bee-Eater perched on a branch.")

*My bee-eater shot*

---

With our prized bird down, we picked up the pace and trudged through the heat to an observation area.
On the flattened hilltop, we observed the amusement park in the distance.
As we stood there, a European Goldfinch perched itself about 40 meters from us, beautifully framed for our viewing pleasure.
Unfortunately, it was only captured by our binoculars before it departed, but I was pleased nonetheless to add it to my life list.

As we made our way down the relaxing footpath, we debated riding some rollercoasters at the aforementioned theme park.
We rode the Metro to Batán, deciding against amusement for satiation and found one of the few open restaurants near the station.
The little café known as *El Encanto* served us some of the most spectacular tacos I've had anywhere, as well as an excellent topped with a generous (read: much-appreciated) serving of cheese.
As we would later come to find out via a sign on the counter, we were in the presence of award-winning tacos.
The espresso was likewise excellent and the service was wonderful -- the compact shop was run by two women, neither of whom spoke much English or understood all of our Spanish.
Language barriers did not stop us from having a wonderful meal, complete with a trifecta of digestifs.

![image]($lib/assets/post-images/flatbread.jpg "A flatbread topped with heaping servings of ham and cheese.")

*The flatbread of dreams*

![image]($lib/assets/post-images/awardwinningtacos.jpg "3 pork tacos with a variety of toppings.")

*Award-Winning Tacos*

![image]($lib/assets/post-images/digestif.jpg "3 shot glasses filled with liquids of varying colors and viscosities.")

*Post-Meal Digestifs*

---

Full of pork and dairy, we headed to the last major art museum we had not yet patronized -- Museo Nacional Centro de Arte Reina Sofía.
At the gate Danny, Greta, and I met up with Kiley and Grant to conclude our trip's art observation marathon.
The exhibits were varied in origin and style, a welcome change from Prado.
Danny and I enjoyed this exhibit where two people were to put on the headphones and dance as the music called to them.
It was only after Kiley read the (very short) explanation that we realized it was meant for couples, but we were simply enjoying the art by our own interpretation.

Reina Sofía houses many famous and beautiful works, such as Pablo Picasso's *Guernica* and Salvador Dalí's *The Great Masturbator*.
I particularly enjoyed Vassily Kandinsky's *Frei*.

![image]($lib/assets/post-images/dancingboys.jpeg "me and Danny dancing in the museum, wearing headphones.")

*The dancers*

---

