---
title: My Trip to Madrid for the Total Solar Eclipse
description: I looked at the sun... and lived???
slug: madrid-2026
date: '2026-08-29'
category: Travel
---

I recently got back from Madrid, Spain (and Lisbon, Portugal) after almost 10 days abroad. 
This was my first time out of North America so I wanted to document everything I saw.

### Day 0 - Friday, August 7

![image]($lib/assets/post-images/dullesescalators.jpg "A photograph of 4 separate escalators in Washington Dulles airport, taken from a 5th, over the in-airport train.")
*The many escalators of Dulles -- more than all of Wyoming, or so I've been told*

---

Greta and I reached Washington Dulles International Airport with plenty of time to spare, via the smooth and predictable ride on the Metro.
From there, we faced slightly bumpier waters with our flight being delayed about 45 minutes, and spending another hour (or more? I can't remember) sitting on the tarmac.
Our pilot informed us of major storms in Boston, which impacted basically every flight headed up and/or out of the States.

Once in the air, the flight attendants were wonderful and overall the flight was free of turbulence. 
Unfortunately, it was also free of proper ventilation. My choice of long-sleeved sunshirt proved to be a mistake,
and I achieved maybe two hours of sleep across the seven hour flight.

### Day 1 - Saturday, August 8

We landed safely in Portugal 2 hours behind schedule, leaving Greta and I with less than an hour to make our connecting flight via TAP Air Portugal.
Thankfully, TAP's representatives were granted carte blanche to expedite delayed passengers through passport control (customs), 
and the neon-vested airport helpers breezed us in front of the common man at customs to the front of the Schengen line.
After a brief inspection that our passports did indeed say we were who we claimed, we were escorted like VIPs (or would it just be VIP?) 
to our savior: Veiculo Longo.

![image]($lib/assets/post-images/veiculolongo.jpg "A photograph of the airport transportation bus, with the bright label 'VEICULO LONGO' on its posterior.")
*VEICULO LONGO*

---

We made it to our final mode of transport in Portugal with no more than 15 minutes to spare, thanks entirely
to TAP's tireless work. 

![image]($lib/assets/post-images/colingretaplaneportugal.jpg "A photograph of me and Greta on the tarmac with the plane's wing visible in the background.")
*Triumph on the tarmac*

---

Blessed with powerful air conditioning and near-exit-row leg room, our 60-minute flight to Madrdi was painless and uneventful.
After catching the airport bus to our Airbnb, we dropped our luggage and headed to the nearest coffee shop, a five minute walk up the street.
At Chloe Lan Coffee, we met up with friends and were treated to excellent pastries and a variety of interesting coffees. 
One of my favorites was the *Café Bombon*, a sugary and caffeinated explosion that was perfect for extreme jet lag and exhaustion.

![image]($lib/assets/post-images/chloelanmurariabby.jpg "A photograph of me, Murari, and Abby at Chloe Lan")
*The faces of 3 very jet-lagged inividuals*

---

![image]($lib/assets/post-images/bombon.jpg "A photograph of Café Bombon, with coffee, condense milk, and foam in a glass cup, flanked by pastries with Greta in the background.")
*Café Bombon*

---

The rest of the day included our first encounter with Spanish Omelette (which they call tortilla),
which I thought was fun but not particularly exciting.

### Day 2 - Sunday, August 9

Sunday we started our day with a food tour, where we met our guide Adolfo in a square near the royal palace.
He took us, and another group from California, around to a set of 5 different restaurants. 
The first location was Casa Ciriaco -- a century-old restaurant where we got our first taste of *jamón ibérico*, along with some prosecco.
We learned here that Spain is actually the world's #1 producer of olive oil.
As part of the experience, we got to slice (and eat) more Iberian ham for ourselves.
Adolfo let us know to note the black hoof, the distinguishing feature of Iberian pigs.

![image]($lib/assets/post-images/cuttingtheham.jpg "A photograph of me cutting the leg of jamón with a long knife")
*Cutting the leg*

---

Our next stop was Mesón del Champiñon, that specializes in mushrooms (champiñon = mushroom).
It was here the Adolfo let us in on the well-known secret that locals do not drink sangria, a drink served only to tourists.
Instead, they drink *tinto de verano* -- literally summer red wine -- which is red wine and lemon Fanta.
From here on out, the journey to find Madrid's best *tintos de verano* had begun, though we did not yet know it.
We were served our wine, mushrooms (topped with pork), and Spanish peppers that resembled shishitos. 
Everything was fantastic and simple, and this would be most of the group's favorite stop.

![image]($lib/assets/post-images/tintosnumerouno.jpg "A photo of our set of tintos de verano in tall, clear glasses at a bar. They are a purple color")
*Tintos de verano*

![image]($lib/assets/post-images/champinones.jpg "A photo of our set of our mushrooms, topped with pork and impaled with toothpicks.")
*Champiñones*

---

Our next stop was to get *bocadillos de calamares*, a simple fried calamari sandwich, topped with lemon juice.
We ate this dish standing outside Madrid's *Plaza Mayor*, once the center of the city, now a beautiful open-air square, featuring an entertainer in a giant, fuzzy Labubu (it was 95 degrees Fahrenheit).
I liked this chewy dish, but many in the group were unenthused by its lack of flavor.

![image]($lib/assets/post-images/calamaribocadillo.jpg "A photo of our group all with bocadillo in hand (or mouth)")
*The seven of us and our bocadillos*

---

The penultimate stop was at La Casa del Abuelo, where we dined on buttery shrimp and extremely sweet wine, apparently a local favorite a few decades ago.

![image]($lib/assets/post-images/lacasadelabuelo.jpg "A photo of Julia, Danny, Greta (left to right) and our shrimps at a bar seating.")
*Check out these shrimps*

---

For dessert, Adolfo took us to a local gelato shop near Puerta del Sol (the place where all kilometer markings in Madrid originate).
After we said our goodbyes, we stopped into a local cafe for some caffeination.
As we were leaving, Greta asked the baristas for their recommendations on things to do in Madrid, and one of them recommended the Thyssen museum, which was not on our radar.
Meandering and Metro-ing, most of us headed to the Thyssen-Bornemisza National Museum, showcasing tons of modern art.
It was a fantastic museum, my favorite of the trip.

![image]($lib/assets/post-images/thyssen.jpg "A photo of me and Danny cracking jokes in front of a piece of artwork.")
*Just a couple of jokesters at the Thyssen*

---

Afterwards, we found ourselves facing a distinct lack of *tinto de verano*, so we made our way to a rooftop bar.
The drinks were okay, but the vibes were immaculate. As with many bars in Madrid, they served us a salty assortment of pretzels and other such nourishment, along with gummy bears and worms of which I had many.

![image]($lib/assets/post-images/rooftopview.jpg "A photo of Danny, me, and Julia sitting in front of our rooftop view of Madrid.")

![image]($lib/assets/post-images/rooftoptinto.jpg "A photo of Greta from my perspective, as we cheers our tintos de verano.")

---

After we were well-nourished on alcohol, we made our way to a Spanish restaurant that we quickly realized was populated almost entirely by toursists.
We were seated in the back, with a couple other parties of loud Americans. 
As with most meals, we all shared (and stole) bites of each dish.
The food was okay, but I thoroughly enjoyed my salty entree of eggs, ham, and potatoes.



![image]($lib/assets/post-images/huevosrotosconjamon.jpg "A photo of cured ham topping fried eggs and potatoes.")
*Huevos rotos con jamón*

---

### Day 3 - Monday, August 10

Monday featured a marked lack of planning. 
Seeking an activity to fill our day, we booked a ticket for the Real Madrid stadium.
On a blisteringly hot day (as they all were), an air-conditioned tour sounded divine.
However, the tour itself was rather underwhelming, though for a true Real Madrid fan it would likely have been a good time way to kill two hours.
I learned very little via the audio guide (provided not as an app or website, but an entire phone with earpiece) outside of Real Madrid's complete and ultimate greatness and benevolence.
It was an overall forgettable experience but fun nonetheless.

![image]($lib/assets/post-images/rmgretadannyball.jpg "A photo of Greta and Danny pretending to hold up a historic ball in the trophy case.")
![image]($lib/assets/post-images/rmcolingreta.jpg "A photo of Greta and me on the Real Madrid sideline in front of the field.")
![image]($lib/assets/post-images/rmryan.jpg "A photo of Ryan on the sideline.")
