---
title: Madrid for the Total Solar Eclipse (Day 6 to 10)
description: The thrilling conclusion
slug: madrid-2026-pt-2
date: '2026-9-13'
category: Travel
---
# {title}
*{description}*

### Day 6 - Thursday, August 13

Without a clear plan for Thursday, Greta, Danny, and I defaulted to a bird outing.
We made our way to Retiro Park: a large urban park reminiscent of Central Park.
We observed a few interesting species including the Great Tit, which I was looking forward to seeing on this trip!

![image]($lib/assets/post-images/greattit.jpg "A great tit sitting in the trees.")

*Great Tit*

---

Later in the day, we made our way back to Mesón del Champiñon to re-up on the most magical mushrooms.
Full of mushrooms, the aforementioned trio made our way to the Madrid Metro store, located in a few Metro stations around the city.
I only bought a corduroy hat, but was nearly ensnared by the Metro kicks. 

![image]($lib/assets/post-images/metrosneakers.jpg "A picture of sneakers themed like the Madrid Metro sitting on a shelf.")

*Madrid Metro sneakers*

![image]($lib/assets/post-images/palacehats.jpg "Danny, Greta, and me in front of the Madrid royal palace, with Danny and me wearing matching Madrid Metro hats.")

*Two guys with matching public transit merch, and Greta, in front of the Royal Palace of Madrid*

---

Our dinner came highly recommended by a friend of Murari as the best Spanish food in Madrid.
Casa Macareno did not disappoint. 
We were treated to a variety of perfectly-prepared pieces and our palettes were pleased.
None of the pictures do our meal justice, so you will just have to take my word for it and use your imagination (or Google Maps).

---


### Day 7 - Friday, August 14

Our final weekday in Madrid would bring the most prosperous birding of the trip.
Greta and I got the day started bright and early at a cafe.
The little coffee shop -- Sole Mio -- served us an excellent breakfast with some of the better espresso we'd had abroad.
Its minute interior provided us just enough room to write postcards to our families while the owner made our food, drinks, and friendly conversation.

![image]($lib/assets/post-images/solemio.jpeg "A distored view of me looking at our breakfast at Sole Mio.")

*About to enjoy food and writing*


![image]($lib/assets/post-images/postcards.jpeg "An adorable photo of me and Greta with our postcards.")

*Greta and me with our postcards, the binoculars foreshadowing our birding bananza*

---

Adequately caffeinated, we headed for Casa de Campo, the former royal hunting grounds.
The vast expanse lies on the western portion of the city, providing an escape from the stone and concrete of the city center.
We met Daniel after beginning our bird walk around a man-made lake, but not before we spotted a familiar style of boat and some invasive fauna.

![image]($lib/assets/post-images/boatcasadecampo.jpg "A racing shell with two people rowing sweep on a lake.")

*A rare pair*

![image]($lib/assets/post-images/kittiescasadecampo.jpg "A pair of cats at Casa de Campo lounging in a wooded area.")

*A hairy pair*

---

Our trio made our way onto one of many paths around Casa de Campo in search of winged beasts.
The European Bee-Eater was of particular interest to me due to its striking colors, having already located my primary target -- the Common Hoopoe -- days earlier.
As we made our way down the trail, we added lifers left and right (being new to birding and Spain).
We had another encounter with the Great Tit, but were also acquainted with four other tits -- Coal, Crested, Long-Tailed, Eurasian Blue.
I regret not pursuing my photography interest sooner, for lack of great pictures, but the birds were delightful to watch through our binoculars. 

Birding with two other novice birders made identifying certain birds a challenge.
We struggled at times to determine if a bird was a female this or a male that, or maybe a juvenile this-other-thing.
With that in mind, it was a welcome surprise when a pair of sexually dimorphic birds presented themselves in tandem.
I was peering through the binoculars and thought I had spotted another yet-to-be-seen-by-us bird -- the European Greenfinch -- which prompted further binocularization and Merlin consultation.
As we were attempting to identify a bird probably 100 yards away, one of us spotted a second bird on a nearby branch.
The two were unmistakably male and female Greenfinch, allowing us to confidently mark these as spotted.

![image]($lib/assets/post-images/dannygretabinos.jpg "A picture of Daniel taking a cell phone photo through his binoculars, which rest on top of Greta's head.")

*Birding is a team sport*

---

As we meandered through the grounds, we continued to note the birds foreign to us (which was all of them except House Sparrows and Rock Pigeons).
The novelty often prompted observation of birds which we had seen dozens of times, including the Common Wood-Pigeon.
The Wood-Pigeon is a charming specimen with a distinctive white patch around the back and sides of its neck.
While observing said bird, one of us spotted another which we did not immediately recognize.
Quickly, however, our group realized this was my prime target: the European Bee-Eater!
The bird we first spotted was perched on a branch outcropping the top of a tree, near a few Wood-Pigeons.
Soon thereafter we spot a half dozen more in the same tree, posing beautifully for our observation.

![image]($lib/assets/post-images/dannybeeeater.jpeg "A picture of a European Bee-Eater perched on a branch.")

*Danny's bee-eater shot*

![image]($lib/assets/post-images/colinbeeeaternear.jpg "Another picture of a European Bee-Eater perched on a branch.")

*My bee-eater shot*

---

With our prized bird down, we picked up the pace and trudged through the heat to an observation area.
On the flattened hilltop, we observed the amusement park in the distance.
As we stood there, a European Goldfinch perched itself about 40 meters from us, beautifully framed for our viewing pleasure.
Unfortunately, it was only captured by our binoculars before it departed, but I was pleased nonetheless to add it to my life list.

As we made our way down the relaxing footpath, we debated riding some rollercoasters at the aforementioned theme park.
We hopped on the Metro to Batán, deciding against amusement for satiation and found one of the few open restaurants near the station.
The little café known as *El Encanto* treated us to some of the most spectacular tacos found anywhere, along with an excellent flatbread topped with a generous (read: much-appreciated) portion of cheese.
As we would later come to find out via a sign on the counter, we were in the presence of award-winning tacos.
The espresso was likewise excellent and the service was wonderful. The compact shop was run by two women, neither of whom spoke much English or understood all of our Spanish.
Language barriers did not stop us from having a wonderful meal, complete with a trifecta of digestifs.

![image]($lib/assets/post-images/flatbread.jpg "A flatbread topped with heaping servings of ham and cheese.")

*The flatbread of dreams*

![image]($lib/assets/post-images/awardwinningtacos.jpg "3 pork tacos with a variety of toppings.")

*Award-Winning Tacos*

![image]($lib/assets/post-images/digestif.jpg "3 shot glasses filled with liquids of varying colors and viscosities.")

*Post-Meal Digestifs*

---

Full of pork and dairy, we headed to the last major art museum we had not yet patronized -- *Museo Nacional Centro de Arte Reina Sofía*.
At the gate Danny, Greta, and I met up with Kiley and Grant to conclude our trip's art observation marathon.
The exhibits were varied in origin and style, a welcome change from Prado.
Danny and I partook in an exhibit where two people were to put on the headphones and dance as the music called to them.
It was only after Kiley read the (very short) explanation that we realized it was meant for couples, but it could be said we were simply enjoying the art by our own interpretation.

Reina Sofía houses many famous and beautiful works, such as Pablo Picasso's *Guernica* and Salvador Dalí's *The Great Masturbator*.
I particularly enjoyed Vassily Kandinsky's *Frei*, an intriguing abstract painting. 

![image]($lib/assets/post-images/dancingboys.jpeg "me and Danny dancing in the museum, wearing headphones.")

*The dancers*

---

### Day 8 - Saturday, August 15

Our final full day in Spain saw us visiting Segovia, a town 30 minutes to the Northwest of Madrid by rail.
The early risers caught the first worm -- or high-speed train as it were -- with Greta, Daniel, and myself reuniting for another adventure.
We boarded our high speed demon (this time run by Ouigo España, an adequate but less luxurious ride than Renfe) and arrived to a brief cloudburst as we hopped from train to bus.
Segovia is known for its ancient Roman aqueduct, beautifully preserved since its retirement came only in 1973.
Arriving in style aboard our Mercedes-Benz bus, we were dropped off directly beneath the towering stone structure.
It looks impressive in photos, but it is truly a sight to behold in person -- a magnificent feat of early human engineering.
We scrambled for cover into *Entre-Panes Acueducto*, a truly minute café with wonderful food and Nespresso coffee that served its purpose.

![image]($lib/assets/post-images/aqueducto.jpeg "A view of the aqueduct from a cobblestone road.")

*Danny's shot of the aqueduct*

---

After breakfast, we set out for our appointment with *Alcázar de Segovia*, a medieval castle down the town's one main street.
We first completed the audio tour of the castle, learning about its history through the many rooms.
The castle was ornate and beautiful on the inside as you might expect, but its placement abutting the edge of town, surrounded largely by fields, and sitting starkly isolated on the hillside is what struck me most.
Once our audio tour was complete, we climbed the Tower of John II of Castille, the passage once traversed by the *alcázar*'s prisoners and guards.
At the top, we were deposited onto a large terrace overlooking Segovia that sits atop the castle.
After the castle we meandered, shopped, had an incredibly disappointing lunch, and tried the unique and delicious local dessert *Ponche Segoviano*.

![image]($lib/assets/post-images/atopalcazar.jpg "Greta and Colin on top of the castle, overlooking Segovia")

*Atop the Alcázar*

![image]($lib/assets/post-images/aqueductposse.jpg "A picture of Daniel, Colin, Greta, Julia, and Abby in front of the aqueduct")

*The Segovia Squad before departure*

--- 

Once we returned to Madrid, we sought out the other four members in *La Latina* for Madrid's biggest street festival *La Paloma*.
As we approached the center of the festival, the streets grew increasingly more dense with people dancing, drinking, and generally having a wonderful time.
The night saw many *tintos de verano* and other beverages consumed as we enjoyed the festivities.
The fiesta encompassed more than a dozen city blocks, complete with hundreds of food stalls and other vendors (like bingo??) bringing the festival to life.
Abby and I briefly found ourselves lost with about 15% combined cell phone battery, but after using our unmatched navigational skills our night continued without a hitch.

![image]($lib/assets/post-images/bingo.jpeg "A picture of a street festival with a vendor playing bingo.")

*Bingo! ty Abby*

![image]($lib/assets/post-images/streetmeat.jpeg "A picture of a large skillet of meat in a public space.")

*MEAT! ty Greta*

Once we departed the festival and disembarked the Metro, the remaining festival-goers succumbed to the golden glow of the Spanish McDonald's next to our station.
Unfortunately, the novelty carried the experience in large part. Most of the menu items were similar in quality to the *hamburguesas* back home. Which is to say, it was okay.

---

### Day 9 - Sunday, August 16

Sunday was the day we bid our cozy AirBnb home goodbye, as we all made our ways towards the airport.
Ryan flew out in the early morning to spend a day-long layover in Lisbon, where Greta, Danny, and I were to join him around 8pm Lisbon time.
The rest of the crew made their way to the airport throughout the morning as our journey came to a close.
Our trusty trio dropped off our luggage for the day at a tobacco corner store and caffeinated at *La Bicicleta*, a café/coworking space.

![image]($lib/assets/post-images/labicicleta.jpeg "A platter of breakfast sandwiches and coffees.")

*La Bicicleta*

--- 

To intake our last breath of Madrid culture, we made our way back to the art corridor to *Real Jardín Botánico*, or royal botanical garden.
The indoor greenhouse captured our attention first, and Danny's sunglasses off his head second (never to be seen again).
After experiencing the highest dew point since arriving in Madrid, we stepped out into the arid sun once again.
The bonsai garden featured a variety of different trees aging back decades, up to over one hundred years old, all pruned particularly precisely.
Bonsais bested, we began birding: swiftly securing the European Pied Flycatcher as well as the Eurasian Blackcap.


![image]($lib/assets/post-images/jardinwaterlily.jpg "A water lily on its lilypad.")

*Water Lily at the jardín*

![image]($lib/assets/post-images/jardinbonsai.jpg "A bonsai in an outdoor pot sloping directly down and to the left.")

*A leftist bonsai*

--- 

Our final proper meal in Madrid came at *Los Gatos*, a little tapas bar near the royal botanical garden.
We ordered a plethora of *tostas* and wonderful *vermut*: a fitting sendoff.

![image]($lib/assets/post-images/losgatostostas.jpg "A plate of little pieces of bread with a variety of meat and non-meat toppings.")

*Tostas!*

![image]($lib/assets/post-images/losgatosvermut.jpeg "A picture of Colin and Daniel staring longingly at a glass of vermouth.")

*Vying for vermouth (a Greta-eye view)*

---

Our journey to the airport was smooth, but our flight on TAP Air Portugal was once again delayed, this time with lower stakes as we had 16 hours to make our connection.
After nearly three hours of delays and a thorough tour of the entire tarmac, we landed safely in Lisbon.
Our path to reunite with Ryan at the hostel was a simple one-transfer route on the Lisbon Metro, with an easily-accessible connection greeting us immediately outside the airport.
Lisbon's Metro stations were easy to navigate, with ornate and varied architecture across the stations we passed through.
Of these, my favorite was the Olaias station featuring large columns giving the appearance of decades of accumulated rust contrasted with bright colors and sharp patterns.

![image]($lib/assets/post-images/olaias.jpg "A picture of the Olaias Metro station, featuring a multi-colored backsplash and large, rust-orange columns")

*Oh hi, Olaias*

---

We arrived about 30 minutes later -- around midnight -- at "Home - Lisbon Hostel" to find a lively crowd playing card games and enjoying house cocktails.
Exhausted and hungry, the three of us only stayed a few minutes to get situated and say hi to Ryan.
One of the few restaurants open around 1am was a shawarma restaurant which greeted us warmly and served us heartily.
After a very late dinner, we strolled over a few blocks to grab one of Portugal's famous *pastel de nata* -- an eggy, custardy pastry.
Soon after, we were off to bed, ready to catch the morning sun.

![image]($lib/assets/post-images/pasteldenatapart1.jpeg "A view of pastries in a glass case, featuring many varieties of pastels de nata")

*Pastel de nata in their natural habitat*

![image]($lib/assets/post-images/lisbonatnight.jpg "The view down a few city streets at night in Lisbon, with shiny cobblestone and old buildings.")

*Lisbon at night*

![image]($lib/assets/post-images/viewfromhostelroom.jpg "The view from a balcony overlooking the street at night as a tram goes by.")

*The view from our hostel, complete with tram *

---

### Day 10 - Monday, August 17

Our time in Lisbon was brief, but Greta and I set a singular goal: catch the sunrise.
Danny joined us on our early morning trek; Ryan slept soundly in our 4-person hostel room.
In a daze, we ambled upwards through the streets of Lisbon towards a lookout point recommended by our friendly hostel host.
Once at the apex, we were just in time to watch the sun's full journey out from the horizon.
For the first few minutes, the sun was clouded and dim enough to observe with our naked eyes -- a second, unexpected peek at our star.

![image]($lib/assets/post-images/pointingatthesun.jpg "Daniel, Greta, and Colin pointing at the sun with open mouths over the backdrop of the Lisbon port.")

*Life imitates art*

![image]($lib/assets/post-images/lisbonsunrise.jpg "The sun rising over the Lisbon port, shrouded in clouds.")

*On of the most beautiful sunrises of my life*

---

We descended the empty streets of Lisbon to return to our belongings at "Home".
Once packed, we arrived at a small coffee shop on the corner for our last European espresso.
Our flight was soon departing, but not so soon we couldn't procure another batch of *pastel de nata* for the road.
The time in Lisbon was fleeting and left me wanting another day or week to explore the city.

![image]($lib/assets/post-images/lisbonstreets.jpg "Daniel, Ryan, and Greta walking across a Lisbon street in the morning.")

*Heading back to America*

---

If you made it this far: Thanks for reading :) Please take a cookie.
