---
title: Why am I doing this?
description: A brief explanation of what this website is.
slug: why
date: '2026-02-16'
category: Tech
---

# {title}
*{description}*

When you search "make a website online", the usual suspects are at the top of the results - SquareSpace, Wix, Canva.
I knew I didn't want to make a boilerplate website, even if it would end up looking less beautiful than anything a team of professional designers can put together in a template.
I began this journey looking for a modern web framework, into which I could easily hook a serverless backend.
SvelteKit became my choice, mainly due to the fact that I had no prior experience and wanted to learn.

[This blog post](https://jasonyuan.net/post/making-a-statically-generated-blog-with-sveltekit/) from Jason Yuan, a student at University of Waterloo, is what got me started on SvelteKit.
His writeup throws a few different technologies at you, and is slightly dated due to SvelteKit being a young project, but it helped kickstart me to getting this up and running.

![image]($lib/assets/post-images/oldsite.png "A screenshot of the old website")
*A piece of my old website*

___

My process began by decommissioning my old website, also hosted in Amazon S3, and unlinking the records in Route 53.
I had set up my old website in about a day, when I had less than 6 months of professional work experience.
At the time, I had been proud of what I'd accomplished by pulling a free HTML template from the Internet and filling in my own details.
It wasn't perfect -- the text overflowed, it was one static page, I hadn't bothered to set up SSL, some of the buttons didn't even work -- but it was a starting point.

I published my website to the Internet in late 2020, at which point I shared it with my friends as a fun novelty.
The act of creating something, even if derived in large part from a free web template, was gratifying.
In the 5ish year period between then and now, I often thought of revamping and rewriting my website to be something more "me".
The problem was, I was unsure exactly what a website that is more "me" meant.

___ 


### Couldn't this be a Facebook page?

As the years have gone on, I have become increasingly disillusioned with the implementation of social media in the modern world.
I deleted Facebook nearly a decade ago (sans a burner account for about 3 groups), Twitter is a hate-filled cesspool, and Instagram has rapidly declined into an attention-grabbing pit of misery.
Given the state of these major platforms, a website that I can control began to grow more appealing a way to share myself in a more controlled way with friends and family.
I want my site to be a place online that I enjoy existing, without a constant algorithmic pull towards more Engagement<sup>TM</sup>.

___

### On AI

A site like this (or one perhaps more aesthetically designed), could be generated by an AI system in about 30 seconds.
It would likely work adequately, or perhaps even well, and follow whatever design conventions were prevalent when it slurped up Stack Overflow that day.
Under the hood, it would be a hideous mess of spaghetti code and copy-pasted styling blocks that any engineer would be embarrassed to write themselves, but no one using the site would likely know.
However, If I published an AI-generated website, I would have felt no more satisfaction than pulling that HTML template off the Internet.
I would not have felt any ownership over the code that ran under the hood.
It would not have been mine.

The immediacy of the AI gratification has turned coding from a series of puzzles into an exercise is proofreading.
Were I to build this site with the help of an LLM, such as ChatGPT, my time would not be spent building modules or thinking of the best ways to write reusable components.
Instead, I would be sapped up staring at the black box and telling it things such as, "No, that's not it. I want *two* columns on the home page. Make my headshot circular. Now make the background whiter".
The reason I got into programming was not because I like to hand off finished products.
The little puzzles, the tradeoffs every line of code necessitates, the time spent engineering novel workarounds -- these are what drew me in to programming.
___

### Is there anything worth saying?

Growing up, writing was at the forefront of my creative outlets.
As a kid, I created comic books -- with full-color illustrations -- to bring stories to life that existed in my head.
I wrote each page as they came to me, without knowing what plot point or twist would befall my heroes on the next page.
These stories were conceived entirely for myself, without a grand vision of becoming a best-selling author (much less a professional illustrator).

I hope to take inspiration from that earlier version of myself with everything that I write here.
If anything that I write resonates with anyone else, it's going to be a pleasant side effect.
The journey of crafting my thoughts into a (somewhat) comprehensive essay, for me, _is_ the point.
Right now, anything that compels me to undertake the process of writing is worth saying.

___

My old website is still available at [this link](http://colinreddig.com.s3-website-us-east-1.amazonaws.com/).
